<%- include('../partials/header'); -%>
<main id="admin" class="container">
    <h1>Listado de Productos</h1>
    <table class="table">
        <li class="table__item">
            <p><strong>ID</strong></p>
            <p class="table__item--id"><strong>Código</strong></p>
            <p class="table__item--name"><strong>Nombre del Producto</strong></p>
        </li>
        <% items.forEach( item => { %> 
            <li class="table__item">
                <p><%= item.item_id %></p>
                <p class="table__item--id"><%= item.sku %></p>
                <p class="table__item--name"><%= item.name %></p>
                <a href="/admin/edit/<%= item.item_id %>" class="table__item--edit">
                    <img class="cart__item-edit" src="/img/icons/edit_pencil.svg">
                </a>
                <!-- <a href="/admin/delete/< %= item.item_id %>?_method=DELETE" class="table__item--delete">
                    <img class="cart__item-delete" src="/img/icons/delete_trash.svg">
                </a> -->
                <p>
                <form action="/admin/delete/<%= item.item_id %>?_method=DELETE"  class="table__item--delete"
                    method="POST">
                    <button class="btn__borrar--item" type="submit">
                        <img class="cart__item-delete" src="/img/icons/delete_trash.svg">
                    </button>
                </form>
                </p>
            </li>
        <% }); %> 
    </table>
</main>
<%- include('../partials/footer'); -%>
